@keyframes slideRight {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100%;
  /* display: none; */

  /* min-height: 100vh; */
}

.Canvas {
  width: 1024px;
  height: 768px;
  /* background-color: red; */
  background-image: url("./Assets/Images/bg.jpg");
  /* background-repeat: no-repeat; */
  background-position: 100% 0;
  animation: slideRight 10s linear infinite;
  overflow: hidden;
}

.Control {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 45%;
  position: relative;
}

.verticalAction {
  margin-top: 15%;
  width: 30%;
  height: 20%;
  display: flex;
  position: "absolute";
  z-index: 1;
}

.HorizontalAction {
  margin-top: 15%;
  width: 30%;
  height: 20%;
  display: flex;
  gap: 105;
  position: "absolute";
  z-index: 1;
}
