.falling-animation {
  animation-name: fall;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fall {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
